.cocktail_card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;

    .icon {
        position: absolute;
        right: 10px;
        top: 10px;

        .MuiSvgIcon-root {
            font-weight: bold;
        }
    }

    .cocktail-card {
        height: 29em;
        width: 15em;
        border: 1px solid black;
        text-align: center;
        transition: all 0.3s ease-in-out;
        margin: 5px;

        &:hover {
            box-shadow: 10px 5px 10px black;
            opacity: 0.8;
            transform: translate(0, -0.2em);
        }

        img {
            width: 100%;
            height: 55%;
            object-fit: cover;
        }

        hr {
            width: 50%;
            margin-top: 15px;
        }

        .cocktail-card-text-container {
            margin: auto;
            height: 45%;

            h1 {
                font-size: 1.3em;
            }

            ul {
                list-style: none;
                padding: 0;
                text-align: center;
                // margin-left: 10px;
            }
        }
    }
}