.modal {
    border-radius: 5px;
}

.ReactModal__Overlay {
    // display: flex;
    // justify-content: center;
    position: relative;
    z-index: 999;

}

.ReactModal__Content {
    width: 45%;
    height: 80%;
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    border-radius: 10px !important;
    padding: 0 !important;

    .img_ingredient_container {
        display: flex;
        height: 70%;

        h2 {
            text-align: center;
        }

        ul {
            margin: auto;
            padding: 10px;

            .MuiFormControl-root {
                width: 100%;
                margin: 5px 0;
            }
        }
    }

    h1 {
        text-align: center;
        background-color: aliceblue;
        width: 100%;
        margin: 0;
        padding: 25px 0;
    }

    img {
        width: 60%;
        height: 500px;
    }

    .button_container {
        position: absolute;
        bottom: 15px;
        right: 15px;

        button {
            margin: 5px;
        }
    }
}

@media screen and (max-width: 1400px) {
    .ReactModal__Content {
        width: 60%;

    }
}

@media screen and (max-width: 1100px) {
    .ReactModal__Content {
        width: 70%;

    }
}

@media screen and (max-width: 900px) {
    .ReactModal__Content {
        width: 80%;

    }
}

@media screen and (max-width: 700px) {
    .ReactModal__Content {
        width: 100%;

    }
}

@media screen and (max-width: 530px) {
    .ReactModal__Content {

        height: 70%;

        img {
            height: 400px;
        }

    }
}

@media screen and (max-width: 495px) {
    .ReactModal__Content {
        height: 100%;

        .img_ingredient_container {
            flex-direction: column;

            img {
                width: 85%;
                object-fit: cover;
                margin: 0 auto;
            }

            h2 {
                margin-bottom: 5px;
            }
        }
    }
}